@import url('./main-layout.css');

* {
    box-sizing: border-box;
}

html {
    --clr-accent: #E63946;
    --clr-accent-light: #f7bfc4;
    --clr-bg: #F1FAEE;
    --clr-light: #A8DADC;
    --clr-regular: #457B9D;
    --clr-dark: #1D3557;

    --lumo-primary-color: var(--clr-regular);
    --lumo-primary-text-color: var(--clr-regular);
    --lumo-error-color: var(--clr-accent);
    --lumo-required-field-indicator-color: var(--clr-regular);
    --lumo-contrast-60pct: var(--clr-regular);

    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 2rem;
}

vaadin-combo-box-item:hover {
    background-color: var(--clr-light);
}

.view {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    place-items: center;
    padding: .5rem;
    background-color: var(--clr-bg);
    & > * {
        width: min(100%, 800px);

        /*height: 100%;*/
        background-color: white;
        border: 5px solid var(--clr-dark);
        border-radius: 20px;
        box-shadow: 5px 5px 10px gray;
        padding: 2rem;
        gap: .5rem;
    }
}

.view-wide {
    & > * {
        width: 100%;
        max-width: 100%;
    }
}

.content-match-width {
    & > * {
        width: 100%;
    }
}

.width-narrow {
    width: 100%;
    max-width: 400px;
}

.width-full {
    width: 100%;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.text-wrap {
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.bg-light-regular {
    background-color: var(--clr-light);
}

.bg-regular {
    background-color: var(--clr-regular);
}

.bg-dark {
    background-color: var(--clr-dark);
}

.bg-light-accent {
    background-color: var(--clr-accent-light);
}

.bg-transition {
    transition: background-color 0.25s ease;
}

.text-color-white {
    color: white;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-justify-end {
    justify-content: end;
}

.flex-align-start {
    align-items: start;
}

.padding-s {
    padding: var(--size-s);
}

.padding-m {
    padding: var(--size-m);
}

.padding-l {
    padding: var(--size-l);
}

.margin-s {
    margin: var(--size-s);
}

.margin-m {
    margin: var(--size-m);
}

.margin-l {
    margin: var(--size-l);
}

.gap-s {
    gap: var(--size-s);
}

.gap-m {
    gap: var(--size-m);
}

.gap-l {
    gap: var(--size-l);
}

.border-radius-s {
    border-radius: var(--size-s);
}

.border-radius-m {
    border-radius: var(--size-m);
}

.border-radius-l {
    border-radius: var(--size-l);
}

.border-radius-round {
    border-radius: 100vw;
}

.font-size-s {
    font-size: smaller;
}

.font-size-l {
    font-size: larger;
}