<configuration>

    <!-- Log format for all profiles -->
    <springProperty name="LOG_FILE" source="LOG_FILE" defaultValue="logs/app.log"/>

    <!-- Configuration for dev mode (console logging only, no Loki) -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Configuration for tst and prod modes (JSON logging for Loki) -->
    <springProfile name="tst,prod,dev">
        <springProperty name="APP_NAME" source="application.title"/>
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${LOKI_URL}</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_NAME},host=${HOSTNAME},level=%level</pattern>
                    <readMarkers>true</readMarkers>
                </label>
                <message>
                    <pattern>
                        {
                        "time": "%d{yyyy-MM-dd HH:mm:ss}",
                        "level":"%level",
                        "class":"%logger{36}",
                        "thread":"%thread",
                        "message": "%message",
                        "requestId": "%X{X-Request-ID}"
                        }
                    </pattern>
                </message>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

</configuration>
